---
Language: C
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AlignAfterOpenBracket: Align
AlignTrailingComments: true
AlignConsecutiveAssignments: false
AlignConsecutiveMacros: false 

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

PointerAlignment: Right
DerivePointerAlignment: false

IndentCaseLabels: false
IndentGotoLabels: false

IndentPPDirectives: AfterHash

SortIncludes: false  
IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           '^<linux/.*'
    Priority:        1
  - Regex:           '^<asm/.*'
    Priority:        2
  - Regex:           '^<crypto/.*'
    Priority:        3
  - Regex:           '^<.*'
    Priority:        4
  - Regex:           '.*'
    Priority:        5

SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeAssignmentOperators: true
